.App {
  min-height: 100vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 70%;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-button:hover {
  background: #ff6f61;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(71, 71, 71, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
  transition: transform 0.3s;
  cursor: pointer;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe h1 {
  font-size: 20px;
  margin: 10px 0;
}

.recipe ol {
  list-style: none;
  padding: 0;
  text-align: left;
}

.recipe li {
  margin: 5px;
  font-size: 16px;
}

.recipe p {
  margin: 10px 0;
  font-size: 18px;
  color: #ff6f61;
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}